body {
  padding: 2em;
}

nav {
  background-color: #fbf7e3;
  border-radius: 60px;
  padding: 2rem;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: #602305;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  padding: 1rem;
  background-color: #f3df85;
  border-radius: 30px;
}
.logo {
  width: 30%;
}
